<h1> Previewing your URL </h1>

<p><b>Your hash_code is:</b>
	<%= @hash_code %>
</p>
<p>
	<b>The matching Url is:</b>
	<%= @url %>
</p>

<p> Back to Index:
	<%= link_to 'Index', urls_path(@urls) %>
</p>