<h1>Edit</h1>

<p>
  <%= button_to 'Delete', {action: 'destroy', id: @movie.id},method: 'delete' %>
</p>

<% if flash[:alert].present? %>
  <p class="errors">
    <%= flash[:alert] %>
  </p>
<% end %>

<% if user_id.present? %>


<%= render partial: 'form' %>

<%= link_to 'Back', movies_path %>