// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_movie_form{
	margin-bottom: 40px;
}

form {
	width: 40px;
	margin: 10px;
}