<h1>Stuff Finder</h1>
<div class="hero-unit">
  <p>Your place for finding stuff you want and dumping stuff you don't</p>
</div>

<%= link_to 'Create new classified', new_classified_path %>

<% @classifieds.each do |classified| %>
    
  
<% end %>